<div
  class="popup"
  role="dialog"
  aria-modal="true"
  aria-label="Bienvenue chez Stickrs - Gestion du consentement"
  aria-describedby="private-life"
  data-testid="consentement"
  tabindex="-1"
>
  <div class="popup-view" role="document">
    <div class="popup-text-container">
      <div class="popup-text-container-text">
        <p id="private-life">
          <span
            >Votre vie privée
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.75 11.75C5.75 11.1977 6.19772 10.75 6.75 10.75H17.25C17.8023 10.75 18.25 11.1977 18.25 11.75V17.25C18.25 18.3546 17.3546 19.25 16.25 19.25H7.75C6.64543 19.25 5.75 18.3546 5.75 17.25V11.75Z"
                stroke="var(--color)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M7.75001 10.5V10.3427C7.75001 8.78147 7.65609 7.04125 8.74648 5.9239C9.3683 5.2867 10.3745 4.75 12 4.75C13.6255 4.75 14.6317 5.2867 15.2536 5.9239C16.3439 7.04125 16.25 8.78147 16.25 10.3427V10.5"
                stroke="var(--color)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </span>
        </p>
        <p>
          Avec votre accord, nous et
          <a
            role="button"
            href="javascript:alert('Voici la liste de nos 6 partenaires')"
            class="link-in-text"
            >nos 6&nbsp;partenaires</a
          >
          utilisons des cookies ou technologies similaires pour stocker,
          consulter et traiter des données personnelles telles que votre visite
          sur ce site internet, les adresses IP et les identifiants de cookie.
          Certains partenaires ne demandent pas votre consentement pour traiter
          vos données et se fondent sur leur intérêt commercial légitime. À tout
          moment, vous pouvez retirer votre consentement ou vous opposer au
          traitement des données fondé sur l'intérêt légitime en cliquant sur
          «&nbsp;En savoir plus&nbsp;» ou en allant dans notre politique de
          confidentialité sur ce site internet.
        </p>
      </div>
    </div>
    <div class="popup-buttons">
      <button
        id="more-button"
        class="popup-buttons-more-button"
        aria-label="En savoir plus"
      >
        <span>En savoir plus</span>
      </button>
      <button
        id="disagree-button"
        class="popup-buttons-disagree-button"
        aria-label='Continuer sans accepter &lt;svgArrow&gt;&lt;svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"&gt; &lt;path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#202020" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/&gt; &lt;path d="M19 12H4.75" stroke="#202020" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/&gt; &lt;/svg&gt;&lt;/svgArrow&gt;'
      >
        <span
          >Continuer sans accepter
          <svgarrow
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.75 6.75L19.25 12L13.75 17.25"
                stroke="var(--color)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M19 12H4.75"
                stroke="var(--color)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path></svg></svgarrow
        ></span>
      </button>
      <button
        id="agree-button"
        class="popup-buttons-agree-button"
        aria-label="Accepter &amp; Fermer"
      >
        <span>Accepter &amp; Fermer</span>
      </button>
    </div>
  </div>
</div>
