@use './src/assets/styles/font.scss';

:root {
  --main-family: 'Luciole', Helvetica, Arial, sans-serif;
}

:root,
[data-selected-theme='light'] {
  --bg-color: #fafafa;
  --color: #222;

  --background: #f9f8f6;
  --foreground: #282624;

  --card: #f4f3f0;

  --primary: #e85530;
  --primary-foreground: #f9f8f6;

  --secondary: #e8e6e3;

  --muted: #edebe9;
  --muted-foreground: #928c87;
  --muted-foreground-50: #c3bfbb;
  --muted-foreground-60: #bbb7b3;
  --muted-foreground-80: #a6a19d;

  --accent: #2c684e;
  --destructive: #c63f3f;

  --border: #656261;

  --font-display: 'Luciole', monospace;
  --font-body: 'Luciole', sans-serif;

  --shadow-card: 0 1px 3px rgba(30, 5, 15, 0.04);
  --shadow-card-hover: 0 8px 24px rgba(30, 5, 15, 0.08);
}

[data-selected-theme='dark'] {
  --bg-color: #222;
  --color: #fafafa;

  --background: #151413;
  --foreground: #dddad5;

  --card: #201f1d;

  --primary: #e85530;
  --primary-foreground: #f9f8f6;

  --secondary: #2b2927;

  --muted: #2b2927;
  --muted-foreground: #868079;
  --muted-foreground-50: #534f4b;
  --muted-foreground-60: #585450;
  --muted-foreground-80: #6f6a64;

  --accent: #31af31;
  --destructive: #f04c4c;

  --border: #979787;

  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.2);
  --shadow-card-hover: 0 8px 24px rgba(0, 0, 0, 0.3);
}

html {
  font-family: var(--main-family);
  background-color: var(--bg-color);
  color: var(--color);
  //min-height: 100vh;
}

html,
body {
  margin: 0;
  // min-height: 100vh;
  width: 100%;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

fieldset {
  border: 0;
}

* {
  outline: none;
}

button,
.button {
  color: var(--color);
  background-color: var(--bg-color);
  border-radius: 25%;
  cursor: pointer;
  height: 2.5rem;
  width: 3rem;
  text-align: center;
  align-content: center;
  border: none;

  &:hover {
    outline: 0.15em solid var(--color);
    outline-offset: 0.15em;
  }
}

a,
.link {
  color: var(--color);

  &:hover {
    text-decoration: none;
    outline: 0.2em solid var(--color);
    outline-offset: 0.2em;
  }
}

.link {
  display: flex;
  font-family: var(--main-family);
  width: auto;
  display: inline;
  text-decoration: underline;
  height: auto;
  border-radius: 0;
  font-size: 1em;
  padding: 0;
}
