.header {
  border-bottom: 0.1em solid var(--border);

  .banner {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;

    @media screen and (max-width: 699px) {
      flex-direction: column;
    }

    .title {
      margin-top: 1em;
      margin-right: 2em;

      h1 {
        margin: 0;
      }
    }

    .theme-switcher {
      text-align: right;
      align-content: center;
    }

    .theme-switcher-buttons {
      display: flex;

      [aria-pressed='true'] {
        background-color: var(--color);
        color: var(--bg-color);

        display: flex;
        justify-content: center;
      }
    }
  }

  .subtitle {
    margin-top: 0.5em;
    margin-left: 1em;
    color: var(--muted-foreground-80);
    font-weight: 900;
  }

  nav {
    margin: 1em;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        padding-right: 1em;
      }
    }
  }
}
