<header class="header">
  <div class="banner">
    <div class="title">
      <h1>STICKR</h1>
    </div>

    <div class="theme-switcher">
      <fieldset>
        <legend class="sr-only">Choisir votre thème d'affichage</legend>
        <div class="theme-switcher-buttons">
          <button type="button" data-theme="light" title="Clair" id="btnLight">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              strokeWidth="1.5"
            >
              <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
            </svg>
          </button>
          <button type="button" data-theme="dark" title="Sombre" id="btnDark">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              strokeWidth="1.5"
            >
              <circle cx="12" cy="12" r="5" />
              <line x1="12" y1="1" x2="12" y2="3" />
              <line x1="12" y1="21" x2="12" y2="23" />
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
              <line x1="1" y1="12" x2="3" y2="12" />
              <line x1="21" y1="12" x2="23" y2="12" />
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
            </svg>
          </button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="subtitle">
    Quand l’accessibilité rencontre le Mob : pratiquer, tester, corriger
    ensemble... un site de e-commerce !
  </div>

  <nav role="navigation">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/produits">Produits</a></li>
      <li><a href="/ressources">Ressources</a></li>
      <li><a href="/a-propos">A propos</a></li>
    </ul>
  </nav>
</header>
