<header class="header">
  <div class="banner">
    <div class="title">
      <h1>
        Quand l’accessibilité rencontre le Mob : pratiquer, tester, corriger
        ensemble
      </h1>
    </div>

    <div class="theme-switcher">
      <fieldset>
        <legend class="sr-only">Choisir votre thème d'affichage</legend>
        <div class="theme-switcher-buttons">
          <button type="button" data-theme="light" title="Clair" id="btnLight">
            <i class="fa-solid fa-sun" aria-hidden="true"></i>
            <i class="fa-regular fa-circle-check" aria-hidden="true"></i>
          </button>
          <button type="button" data-theme="dark" title="Sombre" id="btnDark">
            <i class="fa-solid fa-moon" aria-hidden="true"></i>
            <i class="fa-regular fa-circle-check" aria-hidden="true"></i>
          </button>
        </div>
      </fieldset>
    </div>
  </div>

  <nav role="navigation">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/produits">Produits</a></li>
      <li><a href="/ressources">Ressources</a></li>
      <li><a href="/a-propos">A propos</a></li>
    </ul>
  </nav>
</header>
