@use '../../assets/styles/variables.scss' as vars;

.footer {
  box-sizing: border-box;
  border-top: 0.1em solid var(--border);
  clear: both;
  position: relative;
  width: 100%;
  padding: 2em 3rem 0.5rem;

  @media screen and (max-width: vars.$sm) {
    padding: 1em;
  }

  .title {
    font-family: var(--font-display), sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--foreground);
    margin: 0;
    text-align: left;
  }

  #img-shodo-white,
  #img-shodo-black {
    display: none;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .subtitle {
      color: var(--muted-foreground-80);
      text-align: left;
    }
  }

  .left {
    width: 70%;
    margin-left: 1em;
  }

  .right {
    width: 30%;
    margin-right: 0.5em;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    .logo-shodo {
      margin-left: 2rem;
      text-align: center;

      img {
        width: 4rem;
      }

      p {
        margin-top: 1em;
      }
    }
  }

  @media screen and (max-width: vars.$sm) {
    .row {
      flex-direction: column;
    }

    .left,
    .right {
      margin: 0;
      flex: 100%;
      width: 100%;
    }

    .left p {
      padding: 0 1em;
    }

    .right {
      justify-items: center;
    }
  }

  a {
    text-decoration: none;

    i {
      font-size: 1.5em;
      color: var(--color);
    }
  }
}

html[data-selected-theme='dark'] {
  #img-shodo-white {
    display: block !important;
  }
}

html[data-selected-theme='light'] {
  #img-shodo-black {
    display: block !important;
  }
}
