<footer role="contentinfo" class="footer">
  <div class="row">
    <div class="col left">
      <p class="title">STICKR</p>
      <p class="subtitle">
        © 2026 - Site de développement (mal) conçu par Emmanuelle Aboaf et Manon
        Carbonnel
      </p>
    </div>
    <div class="col right">
      <a
        href="https://github.com/emma11y/mob-a11y/"
        class="button"
        title="Sources sur GitHub (lien externe)"
      >
        <i class="fa-brands fa-github" aria-hidden="true"></i>
      </a>
      <a href="#" class="button" title="Open Feedback (lien externe)">
        <i class="fa-solid fa-star-half-stroke" aria-hidden="true"></i>
      </a>

      <div class="logo-shodo">
        <img class="shodo-white" alt="" src="src/assets/img/logo-shodo.svg" />
        <img
          class="shodo-black"
          alt=""
          src="src/assets/img/logo-shodo-black.svg"
        />
        <small>Shodo</small>
      </div>
    </div>
  </div>
</footer>
