<footer role="contentinfo" class="footer">
  <div class="row">
    <div class="col left">
      <p class="title">STICKR</p>
      <p class="subtitle">
        © 2026 - Site de développement (mal) conçu par Emmanuelle Aboaf et Manon
        Carbonnel
      </p>
    </div>
    <div class="col right">
      <a
        href="https://github.com/emma11y/mob-a11y/"
        class="button"
        title="Sources sur GitHub (lien externe)"
        target="_blank"
      >
        <i class="fa-brands fa-github" aria-hidden="true"></i>
      </a>
      <a
        href="https://openfeedback.io/BR8HzqCDbXYeLhhvcLNk/2026-06-18/cmmt4f2r605p201nvdff4zjqq"
        class="button"
        title="Open Feedback (lien externe)"
        target="_blank"
      >
        <i class="fa-solid fa-star-half-stroke" aria-hidden="true"></i>
      </a>

      <div class="logo-shodo">
        <img id="img-shodo-white" alt="" src="" />
        <img id="img-shodo-black" alt="" src="" />
        <p>SHODO</p>
      </div>
    </div>
  </div>
</footer>
